# Arquivos de Segredos e Tokens
# O Git vai ignorar todos os arquivos listados aqui
client_secret.json
google_fit_tokens.json
strava_tokens.json
secrets.toml

# Arquivos de Banco de Dados
*.db
*.sqlite3

# Arquivos de Ambiente Python
__pycache__/
*.pyc
.env*

# Arquivos de Sistema
.DS_Store